extends layout

block content
  .container
    .row
      .col-md-6
        h4 页面
        ol
          li
            a(href="/express/freeOrder.html", target="_blank") 融合填写页
          li
            a(href="/express/freetravlOrderChild.html", target="_blank") 融合填写页带儿童
          li
            a(href="/express/freetravlDetail.html", target="_blank") 自由行详情页
          li
            a(href="/express/selectFlight.html", target="_blank") 自由行机票选择页
          li
            a(href="/express/confirm.html", target="_blank") 自由行dp页
          li
            a(href="/express/freeOrderDetail.html?OrderID=2240070147", target="_blank") 自由行订单详情页1
          li
            a(href="/express/p6673978s1.html", target="_blank") 团队游详情页
          li
            a(href="/express/grouptravlOrder2.html", target="_blank") 团队游填写页
          li
            a(href="/express/orderdetails.html", target="_blank") 团队游订单详情页1
          li
            a(href="/express/Comparison.html", target="_blank") 团队游对比页
          li
            a(href="/Front.PC.Online/src/ResVacationOnline/js/vacation/app/xres/", target="_blank") 资源后置列表页
          li
            a(href="/Front.PC.Online/src/ResVacationOnline/js/vacation/app/xrescar/", target="_blank") 资源后置购物车页
          li
            a(href="/express/finished.html", target="_blank") 完成页
          li
            a(href="/express/TmpOrderJumpV2.html", target="_blank") 我携跳转页
          li
            a(href="/express/Material.html", target="_blank") 材料上传页

        h4 原型
        ol
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/group_travel/group_detail/detail.php", target="_blank") 团队游详情页
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/group_travel/process/v1/book20130912.php", target="_blank") 团队游订单填写页
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/group_travel/process/v2/book.php", target="_blank") 融合填写页
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/group_travel/ordermanage/v2/order_detail.php", target="_blank") 订单详情页
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/group_travel/process/v2/finished.php",target="_blank") 订单完成页
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/Flight_Hotel/master/online/resource/listing_gb2312.php",target="_blank") 资源后置类表页1
          li
            a(href="http://prototype.ui.sh.ctriptravel.com/git/PackageTour/online/master/Flight_Hotel/master/online/resource/listing_gb2312.php", target="_blank") 资源后置列表页2
      .col-md-6
        h4 所有页面
        ol#J_allfiles
  script(src='/bootstrap/js/getfiles.js')

